/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
/* All */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}
/* Additional Variables */
.text-main {
    color: #253D4E;
}
.text-gray {
    color: #666;
}
.text-green {
    color: #22C55E;
}
.text-white {
    color: #FFF;
}
.p-container {
    padding: 8px 60px;
}
/* Header */
.header , .header-two {
    padding: 8px 60px;
    border-bottom: 1px solid #DDD;
}
.search input {
    width: 450px;
    border: 2px solid #22C55E;
}
.search input:focus , .section-one-text input {
    outline: none;
}
.search input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
.search i {
    transform: translateY(-50%);
}
.navbar .navlist a {
    padding: 4px 12px;
}
.navbar .navlist a:hover {
    transition: ease-out 0.3s;
    border-radius: 5px;
    background: #EEE;
}
/* Header Two */
.header-dropbtn {
    padding: 4px 10px;
    background: #22C55E;
}
.header-dropbtn:hover, .header-dropbtn:focus , .section-one-text button:hover {
    transition: ease-in-out 0.3s;
    background: #1EAD50;
}
.header-dropdown-content {
    display: none;
    min-width: 157px;
    top: 40px;
    border: 1px solid #DDD;
    background: #FEFEFE;
}
.header-dropdown-content a:not(:last-child) {
    border-bottom: 1px solid #DDD;
}
.header-dropdown-content a:hover {
    transition: ease-out 0.2s;
    background: #EEE;
}
.navbar-two .navlist-two a:hover {
    transition: ease-out 0.3s;
    color: #22C55E;
}
.showDropDown {
    display: block;
}
/* Responsive Header */
@media(max-width: 1280px) {
    .header , .header-two {
        border: none;
    }
}
@media(max-width: 1024px) {
    .p-container {
        padding: 5px 40px;
    }
    .search input {
        width: 275px;
    }
    .support-center {
        display: none;
    }
}
@media(max-width: 768px) {
    .logo a h1 {
        display: none;
    }
    .p-container {
        padding: 5px 20px;
    }
}
@media(max-width: 612px) {
    .search input {
        width: 195px;
    }
    .logo a img {
        width: 56px;
        height: 56px;
    }
}
@media(max-width: 540px) {
    .p-container {
        padding: 5px 10px;
    }
    .navbar .navlist a {
        padding: 5px;
        font-size: 24px;
    }
    .navbar .navlist a h3 {
        display: none;
    }
    .header-two {
        flex-direction: column-reverse;
    }
    .header-two .navlist-two {
        margin-bottom: 15px;
    }
    .bx-user {
        margin-left: 3px;
    }
    .header-dropdown {
        align-self: flex-start;
    }
    .header-dropdown-content {
        top: 0 !important;
        left: 160px;
        min-width: 200px;
    }
}
/* Section One */
.section-one-image {
    padding-top: 15px;
}
.section-one-image img {
    width: 1260px;
    height: 540px;
    border-radius: 15px;
    border: 1px solid #DDD;
}
.section-one-text {
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}
.section-one-text input {
    width: 320px;
    height: 40px;
    border: none;
}
.section-one-text button {
    width: 320px;
    padding: 6px 40px;
    background: #22C55E;
}
.section-one-input i {
    top: 40px;
    left: 5px;
}
/* Section One Responsive */
@media(max-width: 1024px) {
    .section-one-text {
        left: 85px;
    }
}
@media(max-width: 1024px) {
    .section-one-text {
        left: 35px;
    }
}
@media(max-width: 600px) {
    .section-one-text h1 {
        font-size: 40px;
    }
    .section-one-text input {
        width: 190px;
    }
    .section-one-text input , .section-one-text button{
        width: 100%;
        height: 50px;
    }
    .section-one-input i {
        top: 45px;
    }
    .section-one-text {
        left: 22px;
    }
}
@media(max-width: 410px) {
    .section-one-text h1 {
        font-size: 35px;
    }
    .section-one-image p {
        font-size: 22px;
    }
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: none;
    border: 2px solid #253D4E;
    margin-bottom: 10px;
}
.swiper-pagination-bullet-active {
    border: 2px solid #22C55E !important;
    background: #22C55E !important;
}
.swiper-button-prev , .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: 2px solid #CCC;
    border-radius: 50%;
    color: #000;
    background: #DDD;
}
.swiper-button-prev:hover , .swiper-button-next:hover {
    transition: ease-out 0.4s;
    background: #CECECE;
}
.swiper-button-next {
    margin-right: 50px;
}
.swiper-button-prev {
    margin-left: 50px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 30px;
    font-weight: 700;
    margin-left: 5px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 30px;
    font-weight: 700;
    margin-right: 5px;
}
@media(max-width: 1280px) {
    .swiper-button-next {
        margin-right: 60px;
    }
    .swiper-button-prev {
        margin-left: 60px;
    }
}
@media(max-width: 1024px) {
    .swiper-button-prev {
        margin-left: 580px;
    }
}
@media(max-width: 768px) {
    .swiper-pagination {
        display: none;
    }
    .swiper-button-next {
        position: relative;
        margin: 0;
        left: 50%;
        bottom: 130px;
        transform: translateX(25%);
    }
    .swiper-button-prev {
        margin: 0;
        position: relative;
        left: 50%;
        bottom: 80px;
        transform: translateX(-125%);
    }
}